<h3>ApiResult</h3>
using System.Net.Http;

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Air Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in results)
        {
            <tr>
                <td>@item.id</td>
                <td>@item.name</td>
            </tr>
        }
    </tbody>
</table>
@code {
    public IList<ApiResult> results = new List<ApiResult>();

    //var request = new HttpRequestMessage(HttpMethod.Get, "https://mocki.io/v1/0171070f-8802-44a3-b46c-151ca34bf7c5");
}
